/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Empêche l'overflow global */
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #010101;
    color: white;
}